html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  .todo-input-group{
    margin-bottom: 20px;
    .todo-input {
      padding: 14px 32px 14px 16px;
      border-radius: 4px 0 0 4px;
      border: 2px solid #5d0cff;
      outline: none;
      width: 320px;
      background: transparent;
      color: #fff;
    }
    .todo-input::placeholder {
      color: #e2e2e2;
    }
    .todo-input.edit {
      border: 2px solid #149fff;
    }
    
    .todo-button.edit {
      background: linear-gradient(
        90deg,
        rgba(20, 159, 255, 1) 0%,
        rgba(17, 122, 255, 1) 100%
      );
      padding: 16px 22px;
      transition: all 0.3s;
      &:hover{
        opacity: 0.9;
        letter-spacing: 1px;
      }
    }
    .todo-button {
      padding: 16px;
      border: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      outline: none;
      background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
      );
      color: #fff;
      text-transform: capitalize;
      transition: all 0.3s;
      &:hover{
        opacity: 0.9;
        letter-spacing: 1px;
      }
    }
  }
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    transition: all 0.3s;
    &:hover{
      opacity: 0.9;

    }
    .icons {
      display: flex;
      align-items: center;
      font-size: 24px;
      cursor: pointer;

      .delete-icon {
        margin-right: 5px;
        color: #fff;
      }
      
      .edit-icon {
        color: #fff;
      }
    }
  }
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }
  

}
